.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    'header'
    'content'
    'footer';

  grid-template-rows: 64px auto 64px;
}

.header {
  grid-area: header;
  height: 64px;
}

.content {
  grid-area: content;
  height: 100%;
}

.footer {
  grid-area: footer;
  height: 64px;
}

.example-container {
  height: 100%;
}

.main {
  padding: 20px;
}
