<div class="wrapper">
  <div class="header">
    <ng-mono360-header (toggleSidenav)="drawer.toggle()"></ng-mono360-header>
  </div>
  <div class="content">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <ng-mono360-menu></ng-mono360-menu>
      </mat-drawer>
      <div class="main">
        <router-outlet></router-outlet>

      </div>
    </mat-drawer-container>
  </div>
  
  <div class="footer">
    <ng-mono360-footer></ng-mono360-footer>
  </div>
  
</div>